<div class="register-container">
  <div class="form-container">
    <h2>Únete y disfruta de nuestros productos</h2>
    <nz-alert
      *ngIf="errorMessage"
      nzShowIcon
      nzType="error"
      [nzMessage]="errorMessage"
      [ngStyle]="{ 'margin-bottom': '16px' }"
    ></nz-alert>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="fullName">Nombre Completo</label>
        <input
          nz-input
          type="text"
          name="fullName"
          [(ngModel)]="fullName"
          placeholder="Ingresa tu nombre completo"
        />
      </div>
      <div class="input-container">
        <label for="email">Correo Electronico</label>
        <input
          nz-input
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Ingresa tu direccion de correo"
        />
      </div>
      <div class="🤪">
        <div class="input-container">
          <label for="password">Contraseña</label>
          <input
            nz-input
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Ingresa tu contraseña"
          />
        </div>
        <div class="input-container">
          <label for="confirmPassword">Confirma tu contraseña</label>
          <input
            nz-input
            type="password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            placeholder="Ingresa nuevamente tu contraseña"
          />
        </div>
      </div>
      <div class="✅">
        <div class="checkbox-container">
          <input nz-input type="checkbox" />
          <span>Acepto recibir correos electrónicos instructivos y promocionales</span>
        </div>
        <div class="checkbox-container">
          <input nz-input type="checkbox" />
          <span> Acepto los Términos de uso y la Política de privacidad de SMZ CELL STORE</span>
        </div>
      </div>
      <div class="cta-container">
        <!-- <input type="submit" value="Sign up" /> -->
        <button
          nz-button
          type="submit"
          [disabled]="!canSubmit()"
          [nzLoading]="loading"
        >
          Unirte
        </button>
        <div>
          <div><a routerLink="/login">Iniciar sesión con un usuario existente</a></div>
        </div>
      </div>
    </form>
  </div>
</div>
