<div class="login-container">
  <div class="form-container">
    <h2>Bienvenido A SMZ CELL STORE</h2>
    <nz-alert
      *ngIf="error"
      nzShowIcon
      nzType="error"
      [nzMessage]="error"
      [ngStyle]="{ 'margin-bottom': '16px' }"
    ></nz-alert>
    <form (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="email">Direccion de Correo</label>
        <input
          nz-input
          type="email"
          name="email"
          placeholder="Ingresa tu email"
          [(ngModel)]="email"
        />
      </div>
      <div class="input-container">
        <label for="password">Contraseña</label>
        <input
          nz-input
          type="password"
          name="password"
          placeholder="Ingresa tu contraseña"
          [(ngModel)]="password"
        />
      </div>
      <div class="cta-container">
        <button
          nz-button
          type="submit"
          [disabled]="!canSubmit()"
          [nzLoading]="loading"
        >
          Inicia Sesión
        </button>
        <div><a routerLink="/register">Crea una cuenta</a></div>
      </div>

      <div >
        
      </div>
    </form>
  </div>
</div>
