<div class="home-container">
  <div class="categories">
    <div class="categories__header">
      <h2>Categorias</h2>
      <button *ngIf="isAdmin" (click)="openCategoryModal()">Agregar Categoría</button>
    </div>
    <div class="categories__list">
      <swiper
        [zoom]="false"
        [slidesPerView]="screenWidth > 1200 ? 3 : 1"
        [spaceBetween]="50"
        [pagination]="true"
        [loop]="false"
      >
        <ng-template swiperSlide *ngFor="let c of categories">
          <div class="category-card" (click)="changeProducts(c)">
            {{ c.title }}
            <button class="delete-btn" *ngIf="isAdmin" (click)="openDeleteCategoryModal(c)">
              Borrar
            </button>
          </div>        
        </ng-template>
      </swiper>
    </div>
  </div>
  <div class="products">
    <div class="products__header">
      <h2>PRODUCTOS NUEVOS!</h2>
      <button *ngIf="isAdmin" (click)="openAddProductModal()">Agregar Producto</button>
    </div>
    <div *ngIf="loading" class="products__loading">
      <ng-template #indicatorTemplate>
        <i
          nz-icon
          nzType="loading"
          [ngStyle]="{ 'font-size': '2rem', margin: '0 auto' }"
        ></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
    </div>
    <div class="products__list" *ngIf="!loading">
      <app-product-card
        *ngFor="let n of products"
        [id]="n.id"
        [title]="n.title"
        [image]="n.image"
        [price]="n.price"
        [short_desc]="n.short_desc"
        [category]="n.category"
        [quantity]="n.quantity"
        [onAdd]="cartService.addProduct.bind(cartService)"
      >
      </app-product-card>
    </div>
  </div>
  <div class="load-products">
    <button
      nz-button
      (click)="showMoreProducts()"
      [nzLoading]="additionalLoading"
    >
      Mostrarme mas..
    </button>
  </div>
  
  <div class="modal" *ngIf="isCategoryModalOpen">
    <div class="modal__content">
      <h3>Agregar Nueva Categoría</h3>
      <input type="text" [(ngModel)]="newCategory" placeholder="Nombre de la categoría" />
      <div class="modal__buttons">
        <button (click)="saveCategory()">Guardar</button>
        <button (click)="closeCategoryModal()">Cancelar</button>
      </div>
    </div>
  </div>

<!-- Modal de confirmación para eliminar categoría -->
<div class="modal" *ngIf="isCategoryDeleteModal" (click)="closeDeleteCategoryModal()">
  <div class="modal__content" (click)="$event.stopPropagation()">
    <h3>Eliminar Categoría</h3>
    <p>¿Estás seguro de que deseas eliminar la categoría "{{ categoryToDelete?.title }}"?</p>
    <div class="modal__buttons">
      <button (click)="deleteCategory()">Eliminar</button>
      <button (click)="closeDeleteCategoryModal()">Cancelar</button>      
    </div>
  </div>
</div>

<!-- Modal para agregar un producto -->
<div class="modal" *ngIf="isAddProductModalOpen" (click)="closeAddProductModal()">
  <div class="modal__content" (click)="$event.stopPropagation()">
    <h3>Agregar Producto</h3>
    <form (ngSubmit)="addProduct()">
      <div class="form-group">
        <label for="productTitle">Título del Producto</label>
        <input id="productTitle" [(ngModel)]="newProduct.name" name="name" type="text" required />
      </div>

      <div class="form-group">
        <label for="productMainImage">Imagen Principal</label>
        <input id="productMainImage" type="file" (change)="onMainImageChange($event)" />
      </div>

      <div class="form-group">
        <label for="productAdditionalImages">Otras Imágenes</label>
        <input id="productAdditionalImages" type="file" (change)="onAdditionalImagesChange($event)" multiple />
      </div>
      
      <div class="form-group">
        <label for="productDescription">Descripción</label>
        <textarea id="productDescription" [(ngModel)]="newProduct.description" name="description" required></textarea>
      </div>

      <div class="form-group">
        <label for="productPrice">Precio</label>
        <input id="productPrice" [(ngModel)]="newProduct.price" name="price" type="number" required />
      </div>

      <div class="form-group">
        <label for="productPrice">Cantidad</label>
        <input id="productPrice" [(ngModel)]="newProduct.quantity" name="quantity" type="number" required />
      </div>

      <div class="form-group">
        <label for="productCategory">Categoría</label>
        <select id="productCategory" [(ngModel)]="newProduct.category" name="category" required>
          <option *ngFor="let c of categories" [value]="c.id">{{ c.title }}</option>
        </select>
      </div>
      

      <div class="modal__buttons">
        <button type="submit">Agregar Producto</button>
        <button type="button" (click)="closeAddProductModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

</div>
